.ObjCentre {
  text-align: center;
}
body {
  margin: 0px;
  background: #17203c;
  color: #cdfcfe;
  text-shadow: 3px 3px 3px #000;
  font-size: 20px;
  font-family: Segoe Print,serif,Times New Roman;
  font-weight: normal;
  clear: none;
  border-width: 0px;
  text-decoration: none;
}
.hrefs {
  text-decoration: none;
  color: #FFF;
  text-shadow: 0px 0px 5px #FFF;
  padding: 5px;
}
.hrefs:hover {
  color: #cdfcfe;
  text-shadow: 0px 0px 20px #FFF;
}
h1,
h2 {
  text-align: center;
  margin: 10px;
  padding: 10px;
}
h3,
h4,
h5,
h6 {
  text-align: left;
  margin: 3.33333333px;
  padding: 3.33333333px;
}
.container {
  display: flexbox;
  flex-direction: column;
  margin: 1%;
  padding: 1.8%;
}
.containerForm {
  background-color: rgba(35, 32, 88, 0.1);
  box-shadow: 0px 0px 20px rgba(235, 248, 249, 0.7);
  border-radius: 25px;
  height: auto;
  padding: 15px;
}
.margins {
  margin: 3%;
}
.bannerImage {
  display: inline-block;
  text-align: center;
  width: 100%;
  min-width: 500px;
  height: auto;
}
.zoom {
  animation: zoomOut 0.3s forwards;
}
.zoom:hover {
  animation: zoomIn 0.3s forwards;
}
.menu {
  padding: 3px;
  font-size: 16px;
  text-align: center;
}
.menu > div {
  display: inline-block;
  padding: 5px;
  margin: 6px;
  width: 100%;
  height: auto;
  max-width: 250px;
  min-width: 150px;
  background-color: #0e406d;
  box-shadow: 3px 3px 10px #000;
  border-width: 0px;
  border-radius: 16px;
  text-align: center;
  letter-spacing: 1px;
  color: #cdfcfe;
  text-shadow: 1px 1px 1px #bdedf9;
}
.menu > div > .dropdown-menu {
  display: none;
}
.menu > div:hover > .dropdown-menu {
  display: block;
  background-color: rgba(14, 64, 109, 0.9);
  animation: apear 0.3s;
  z-index: 1;
}
.menu > div > div {
  border-radius: 20px;
  position: absolute;
  padding-top: 10px;
  width: 100%;
  max-width: 250px;
  min-width: 150px;
  height: auto;
}
.menu > div > div > div {
  padding: 7px;
}
.menu > div > div > div > a {
  color: #cdfcfe;
  text-shadow: 1px 1px 10px #bdedf9;
  text-decoration: none;
}
.contant {
  font-size: 22px;
  font-family: serif,Times New Roman;
  padding: 5px;
  margin: 10px;
}
.contant50 {
  padding: 5px;
  margin: 10px;
  width: 45%;
  min-width: 300px;
}
.column {
  width: 33.33%;
  min-width: 250px;
  padding: 1px;
  margin: 1%;
  float: right;
}
.mainIcon {
  width: 95%;
  height: auto;
  min-width: 100px;
  float: right;
  animation: lifeImg 2s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  z-index: 0;
}
.styleKAcompany {
  font-family: serif;
  font-weight: bold;
  font-size: 27px;
  color: #cdfcfe;
  text-shadow: 1px 1px 15px #bdedf9;
  text-decoration: none;
}
.news {
  padding: 4px;
  color: #cdfcfe;
  font-style: italic;
  margin: 5px;
  font-size: 16px;
  font-family: Times New Roman;
}
.news > h3 > a {
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
}
.flexSpaceAround {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.flexStart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}
.box {
  display: block;
  text-align: center;
  padding: 10px;
}
.box30 {
  width: 30%;
  min-width: 200px;
}
.img {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 20px rgba(235, 248, 249, 0.7);
  border-radius: 25px;
}
.table {
  display: table;
  width: 98%;
  table-layout: fixed;
}
.td {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 1%;
  padding-bottom: 15px;
}
@media (max-width: 450px) {
  .td {
    display: block;
    width: 100%;
  }
  .td2 {
    display: table-caption;
  }
  .td1 {
    display: table-footer-group;
  }
}
/*Animations*/
@keyframes lifeImg {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes apear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes noapear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
