@main_text_color:rgb(205,252,254);
@size: 10px;
.ObjCentre {
    text-align: center;
}
.bg_cl(@variable) {
  & when (lightness(@variable) > 60%) {
    background:rgb(23,32,60);
  }
  & when (lightness(@variable) <= 60%) {
    background:rgb(194, 190, 197);
  }
}

body{
    margin:0px;
    .bg_cl(@main_text_color);
    color:@main_text_color;
	text-shadow:3px 3px 3px #000;
	font-size:20px;
    font-family:Segoe Print,serif,Times New Roman;
	font-weight:normal;
    clear:none;
    border-width:0px;
    text-decoration:none;
}
.hrefs{
    text-decoration:none;
    color:#FFF;
    text-shadow:0px 0px 5px #FFF;
    padding:5px;
}
.hrefs:hover{
    color:@main_text_color;
    text-shadow:0px 0px 20px #FFF;
}
h1, h2 {
    .ObjCentre;
    margin:@size;
    padding:@size;
    
}
h3,h4,h5,h6{
    text-align:left;
    margin:@size/3;
    padding:@size/3;
}
.container {
    display:flexbox;
    flex-direction:column;
    margin:1%;
    padding:1.8%;
}
.containerForm {
    background-color:rgba(35, 32, 88, 0.1);
    box-shadow:0px 0px 20px rgba(235, 248, 249, 0.7);
    border-radius:25px;
    height:auto;
    padding: 15px;
}
.margins {
    margin:3%;
}
.bannerImage {
    display:inline-block;
    .ObjCentre;
    width:100%;
    min-width:500px;
    height:auto;
}
.zoom {
    animation:zoomOut 0.3s forwards;
}
.zoom:hover {
    animation:zoomIn 0.3s forwards;
}
.menu {
    padding:3px;
    font-size:16px;
    .ObjCentre;
}
.menu>div{
    display:inline-block;
    padding:5px;
    margin:6px;
    width:100%;
    height:auto;
    max-width:250px;
    min-width:150px;
    background-color:rgb(14,64,109);
    box-shadow:3px 3px 10px #000;
    border-width:0px;
	border-radius:16px;
    .ObjCentre; 
    letter-spacing:1px;
    color:@main_text_color;
    text-shadow:1px 1px 1px rgb(189,237,249);
}
.menu>div>.dropdown-menu{
	display:none;
}
.menu>div:hover>.dropdown-menu{
	display:block;
    background-color:rgba(14,64,109,0.90);
    animation:apear 0.3s;
    z-index:1;

}
.menu>div>div{
	border-radius:20px;
    position:absolute;
    padding-top:10px;
    width:100%;
    max-width:250px;
    min-width:150px;
    height:auto;
}
.menu>div>div>div{
    padding:7px;
}
.menu>div>div>div>a{
	color:@main_text_color;
	text-shadow:1px 1px 10px rgb(189,237,249);
    text-decoration:none;
}
.contant {
    font-size:22px;
    font-family:serif,Times New Roman;
    padding:@size/2;
    margin:@size;
}
.contant50 {
    padding:@size/2;
    margin:@size;
    width:45%;
    min-width:300px;
}
.column {
    width:33.33%;
    min-width:250px;
    padding:1px;
    margin:1%;
    float:right;
}

.mainIcon {
    width:95%;
    height:auto;
    min-width:100px;
    float:right;
    animation:lifeImg 2s;
    animation-delay:0s;
    animation-iteration-count:infinite;
    z-index:0;
}
.styleKAcompany{
	font-family:serif;
	font-weight:bold;
	font-size:27px;
    color:@main_text_color;
    text-shadow:1px 1px 15px rgb(189,237,249);
    text-decoration:none;
}
.news{
	padding:4px;
	color:@main_text_color;
	font-style:italic;
	margin:5px;
    font-size:16px;
    font-family:Times New Roman;
}
.news>h3>a{
	color:rgb(255,255,255);
	font-style:normal;
	text-decoration:none;
}
.flexSpaceAround {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:wrap;
}
.flexStart {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:baseline;
    flex-wrap:wrap;
}
.box {
    display:block;
    .ObjCentre;
    padding:@size;
}
.box30 {
    width:30%;
    min-width:200px;

}
.img {
    width:100%;
    height:auto;
    box-shadow:0px 0px 20px rgba(235, 248, 249, 0.7);
    border-radius:25px;
}
.table {
  display:table;
  width:98%;
  table-layout:fixed;
}

.td {
  display: table-cell;
  .ObjCentre;
  vertical-align:middle;
  padding:1%;
  padding-bottom:15px;
}
@media (max-width: 450px) {
    .td {
        display: block;
        width: 100%;
    }
  
    .td2 {
      display: table-caption;
    }
  
    .td1 {
      display: table-footer-group;
    }
}

/*Animations*/
@keyframes lifeImg {
	0% {
		transform:scale(1);
	}
    50% {
		transform:scale(1.05);
	}
	100% {
		transform:scale(1);
	}
}
@keyframes apear {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
        
	}
}
@keyframes noapear {
	0% {
		opacity:1;
	}
	100% {
		opacity:0;
	}
}
@keyframes zoomIn {
	0% {
		transform:scale(1);
	}
	100% {
		transform:scale(1.05);
	}
}
@keyframes zoomOut {
	0% {
		transform:scale(1.05);
	}
	100% {
		transform:scale(1);
	}
}