@import url("https://fonts.googleapis.com/css?family=Concert+One|Karla|Lora|Montserrat|PT+Serif|Ubuntu:700");
body{
    background-color:#0a1e38;
    height: 100%;
    margin:0;
    color:rgb(205,252,254);
	font-size:16px;
    font-family:'Karla', serif;
	font-weight:normal;
}
.header{
    background-color: #031325;
}
.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgb(71, 101, 122);
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    margin-top: 0;
    padding-left: 0;
    transition: left 0.3s;
    z-index: 102;
    visibility: hidden;
}
.menu ul {
    list-style: none;
    position: relative;
    padding-top: 20px;
}
.menu ul li {
    margin: 0 -7px 0 0;
    display: block;
    width: 90%;
}
.menu a {
    display:block;
    color: #ffffff;
    padding: 5px 10px 7px 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    text-decoration:none;
    transition: color 0.3s;
}
.menu a:hover {
    color: #48d8de;
}
.mob-menu {
    position: absolute;
    background-color: #4183ad;
    top: 90px;
    left: 300px;
    padding: 11px 15px 9px 10px;
    -webkit-border-bottom-right-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    color: rgb(205,252,254);
    cursor: pointer;
    font-size: 1.0em;
    line-height: 1;
    z-index: 2001;
    transition: background-color .2s ease-in-out;
}
.mob-menu:after {
    content: '\2630';
    text-decoration: none;
}
.mob-menu:hover {
    color: #f4f4f4;
    background-color: #569ac7;
}
[id='mob-menu']:checked ~ .menu > .mob-menu {
    top: 15px;
    left: auto;
    right: 30px;
    padding: 9px 10px 7px 10px;
    -webkit-border-radius: 25px;
}
[id='mob-menu']:checked ~ .menu {
    left: 0;
    box-shadow: 4px 0 20px 0 rgba(0,0,0, 0.5);

}
[id='mob-menu']:checked ~ .menu > .mob-menu:after {
    content: '\2715';
}
.mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
}

[id='mob-menu']:checked ~ .mask {
    visibility: visible;
    opacity: 1;
    transition: opacity .4s, visibility .4s;
}
nav {
    background-color:#0e294c;
}
nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}
nav ul li {
    margin: 0 -7px 0 0;
    display:inline-block;
    background-color:#0e294c;
}
nav a {
    display:block;
    padding:0 10px;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 2;
    text-align: center;
}
nav ul li:hover>ul {
    display:inline-block;
    animation:appear 0.3s;
}
nav ul ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
}
.content-padding{
    padding-left:30px;
    padding-right:30px;
}
.content-margin{
    margin-left:20px;
    margin-right:20px;
}
.container-space-center {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    flex-direction:row;
    text-decoration:none;
}
.container-space-between {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    flex-direction:row;
    text-decoration:none;
}
.container-flex {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    flex-direction:row;
}
.container-flex-start {
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-wrap:wrap;
}
.container-space-around {
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
}
.container-row{
    display:flex;
    justify-content:space-around;
    align-items:start;
    flex-wrap:nowrap;
}
.container-news{
    display:flex;
    justify-content:space-around;
    align-items:stretch;
    flex-wrap:wrap;
}
.container-column {
    display:block;
    margin-right: 20px;
    width: 25%;
    min-width:220px;
    max-width: 700px;
}
.container-column-row {
    display:block;
    width: 72%;
    min-width:200px;
    max-width: 1400px;
}
.align-center{
    align-items:center;
}
.flex-row-reverse{
    flex-direction:row-reverse;
}
.elem-padding {
    padding: 10px;
}
.content {
    flex: 1 0 auto;
    padding-top:2px;
    padding-left:30px;
    padding-right:30px;
}
.elem-boarder {
    display: flex;
    position: relative;
    margin:1px;
    width: 100%;
    border: 1px solid rgb(16, 10, 45);
}
.row-elem {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}
.row-elem .element-title {
    transition: background-color 0.3s;
}
.row-elem .element-title:hover {
    background-color: #80bfe4;
    color: #FFFFFF;
}
.picture{
    width:100%;
    height: 100%;
    color:rgb(0, 0, 0);
}
.text-background {
    position: absolute;
    top: 15px;
    left: 8%;
    right: 8%;
    background: rgb(76, 104, 139); /* на случай, если следующая строка не сработает */
    background: rgba(76, 104, 139, 0.95);
    padding: 10px;
}
.news-title {
    color:#a9cddd;
    font: normal 21px/20px 'Concert One', cursive;
    letter-spacing: -1px;
}
.news-text {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font: normal 16px/20px 'Karla', sans-serif;
    letter-spacing: -1px;
}
.absolute-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container-title {
    display:flex;
    height: 100%;
    flex-direction: column-reverse;
}
.element-text-background {
    background: #345279; /* на случай, если следующая строка не сработает */
    background: rgba(47, 74, 109, 0.95);
    padding: 10px 0;
    width: 100%;
}
.element-title {
    text-align: center;
    color:rgb(205,252,254);
    line-height: 18px;
    font-size: 17px;
    font-family: 'PT Serif', serif;
    letter-spacing: -1px;
}
.banner-title {
    padding: 5% 0;
    width: 100%;
    text-align: center;
    color:#1e2024;
    letter-spacing: -1px;
}
.banner-text1{
    margin-right: 35%;
    font: normal 28px/26px "Minion Pro Regular",Helvetica, Sans-Serif;
}
.banner-text2{
    margin-right: 20%;
    font: bold 34px/26px "Minion Pro Regular",Helvetica, Sans-Serif;
}
.banner-text-background {
    padding: 10px 0;
    margin: 0;
    width: 100%;
}
.banner-container-title {
    display:flex;
    height: 100%;
    width: 100%;
    color:#1e2024;
}
.banner-padding {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 6px;
    padding-left: 30px;
    padding-right: 30px;
    overflow: inherit;
}
.banner{
    width: 100%;
    min-width: 650px;
}
.banner-button-more{
    display:inline-block;
    background: #59769b;
    width: 120px;
    min-width: 120px;
    margin-top: 0.5%;
    margin-right: 13%;
    padding: 7px 15px;
    color: rgb(255, 255, 255);
    font-family: "Comic Sans MS Regular", cursive;
    font-size:17px;
    transition: background-color 0.2s;
}
.banner-button-more:hover {
    background: #80bfe4;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 15px #FFFFFF;
}
.title {
    margin: 5px 5px 10px 10px;
    color:#d2e2f6;
    font-family: 'Lora', serif;
    font-size:17px;
    font-weight:bold;
}
.title>a {
    color:#d2e2f6;
    text-decoration:none;
}
.title>a:hover {
    color:#FFF;
}
.container-button-more{
    display:flex;
    padding-right:28%;
    justify-content:space-between;
    align-items:center;
    flex-wrap:nowrap;
}
.button-more{
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 85px;
    bottom: 8%;
    right: 8%;
    background: #59769b;
    padding: 8px 35px 7px 13px;
    color: rgb(255, 255, 255);
    font-family: "Comic Sans MS Regular", cursive;
    font-size:14px;
    font-weight:normal;
    transition: background-color 0.2s;
}
.button-more:hover {
    background: #80bfe4;
    box-shadow: 0 0 15px #FFFFFF;
}
.menu-button {
    padding:10px 40px;
    color:rgb(205,252,254);
    font-family: 'Montserrat', sans-serif;
    text-decoration:none;
    transition: background-color 0.2s;
}
.menu-button:hover{
    background-color: rgb(15, 116, 155);
    color: rgb(255, 255, 255);
}
.location-point {
    color: #80bfe4;
}
.copyright {
    color:rgb(255,255,255);
    font-family: "Comic Sans MS Regular",serif;
    font-size:14px;
    font-weight:normal;
}
.triangle{
    width: 12px;
    height: auto;
}
.ka-company {
    color:rgb(255,255,255);
    font-family: 'Ubuntu', sans-serif;
    font-size:30px;
    font-weight:bold;
}
.logo-company{
    display: flex;
    margin: 7px;
    width: 48px;
    height: 100%;
}
.space {
    height:20px;
}
.float-left {
    float: left;
    margin-left: 20px;
}
.float-right {
    float: right;
    margin-right: 20px;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
footer {
    flex: 0 0 auto;
}
/*sprite-sheet*/
.icon {
    display: flex;
    position: relative;
    width:40px;
    height:42px;
    margin: 10px 10px 10px 0;
}
.icon>a {
    position: absolute;
    width:40px; /*ширина блока, равная ширине картинки фона*/
    height:42px; /*высота блока, равная высоте картинки фона*/
    background:url(img/icons/sprite-icons.png)no-repeat;
    background-size: 480px;
}
.icon>a:hover {
    background-position-y: -42px;
}
.icon-menu {
    display: none;
    position: relative;
    width:40px;
    height:42px;
    margin: 10px 10px 10px 0;
}
.icon-menu>a {
    position: absolute;
    width:40px; /*ширина блока, равная ширине картинки фона*/
    height:42px; /*высота блока, равная высоте картинки фона*/
    background:url(img/icons/sprite-icons.png)no-repeat;
    background-size: 480px;
    background-position: -120px 0;
}
.icon-menu>a:hover {
    background-position-y: -42px;
}
.icon-search>a {
    background-position: 0 0;
}
.icon-home>a {
    background-position: -40px 0;
}
.icon-register>a {
    background-position: -80px 0;
}
.icon-close>a {
    background-position: -160px 0;
}
.icon-download>a {
    background-position: -200px 0;
}
.icon-instagram>a {
    background-position: -240px 0;
}
.icon-phone>a {
    background-position: -280px 0;
}
.icon-email>a {
    background-position: -320px 0;
}
.icon-address>a {
    background-position: -360px 0;
}
.icon-vk>a {
    background-position: -400px 0;
}
.icon-facebook>a {
    background-position: -440px 0;
}

#js-button-to-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    background-color: rgba(0,0,0,0); /* Set a background color */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
}
#js-button-to-top>img:hover {
    background-color: rgba(225,225,225,0.5);
    border-radius: 30px;
    -webkit-box-shadow: 0 0 30px #ffffff;
}
.breadcrumbs {
    background-color: #031325;
    padding: 5px;
}
.breadcrumbs ol {
    display: inline-block;
    padding: 0 40px;
    margin:0;
    width: 800px;
    list-style: none;
}
.breadcrumbs ol li {
    position: relative;
    display: inline-block;
    margin: 0 -7px 0 0;
}
.breadcrumbs ol li a {
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Concert One', cursive;
    text-decoration: none;
}
.breadcrumbs ol li em {
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Concert One', cursive;
    font-style: normal;
    text-decoration: none;
}
.current em {
    color: #59769b;
}
.visited a {
    color: #80bfe4;
    transition: color 0.3s;
}
.visited:after {
    display: inline-block;
    content: '>';
    margin: 0 .4em;
    color: #959fa5;
 }
.visited a:hover {
    color: #FFFFFF;
}
@keyframes appear {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/*page game.html*/
.main-elem {
    flex-grow: 2;
}
.oth-elem {
    flex-grow: 1;
    width: auto;
}
.container-text {
    display: inline;
    min-width: 200px;
    background-color: #2c527a;
    padding: 5%;
    color: #dffbfc;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    line-height: 20px;
}
.container-text>div>a {
    padding: 5px;
    color: #80bfe4;
    font-family: 'Lora', serif;
    font-size: 14px;
    transition: color 0.3s;
}
.container-text div a:hover {
    color: #FFFFFF;
}
.container-text>div>span {
    margin: 2px;
}
.text-title {
    margin: 6px 0;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.text-article {
    line-height: 22px;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: normal;
}
/*page register.html*/
.field-input {
    display: inline-block;
    background-color: rgb(223, 245, 250);
    width: 30%;
    min-width: 250px;
    max-width: 600px;
    border: none;
    padding: 7px;
    color: #2b9deb;
    font-family: 'Karla', sans-serif;
    font-size: 12px;
    margin-left: 2px;
}
.field-name {
    display: inline-block;
    background-color: #143965;
    width: 30%;
    min-width: 200px;
    max-width: 600px;
    padding: 7px 10px;
}
.field-string {
    margin: 7px 0;
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    width: 70%;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
}
.button-sign-in {
    background: #59769b;
    padding: 3px 25px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: 'Comic Sans MS Regular', cursive;
    font-size:11px;
    font-weight:normal;
    transition: background-color 0.2s;
}
.button-sign-in:hover {
    background: #80bfe4;
    box-shadow: 0 0 15px #FFFFFF;
}

@media screen and (min-width: 1200px) {
    .content-padding {
        padding-left: 5%;
        padding-right: 5%;
    }
    .content {
        padding-left: 5%;
        padding-right: 5%;
    }
    .banner-padding {
        padding-left: 5%;
        padding-right: 5%;
    }
    .float-left {
        margin-left: 4.3%;
    }
    .float-right {
        margin-right: 4.3%;
    }
}
@media screen and (max-width: 940px) {
    .container-column-row {
        width: 100%;
    }
    .container-column {
        width: 100%;
        max-width: 940px;
        margin: 0;
    }
    .container-news {
        flex-wrap:nowrap;
    }
    nav {
        display: none;
    }
    /*to-do*/
    /*.icon-menu {
        display: flex;
    }*/
    .menu {
        visibility: visible;
    }
}
@media screen and (max-width: 700px) {
    .container-flex-start {
        justify-content: space-around;
    }
    .banner-padding {
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and (max-width: 500px) {
    .content {
        padding-left:25px;
        padding-right:25px;
    }
    .content-padding {
        padding-left:5px;
        padding-right:5px;
    }
    .container-row {
        flex-wrap:wrap;
    }
    .container-news {
        flex-wrap:wrap;
    }
    .banner-padding {
        padding-left: 100px;
    }
    .banner-text1 {
        margin-right: 18%;
    }
    .float-left {
        margin-left: 0;
    }
    .float-right {
        margin-right: 0;
    }
    .container-flex {
        justify-content: center;
    }
    .breadcrumbs ol {
        padding: 0 0;
    }
    /*page register*/
    .field-string {
        flex-wrap: wrap;
        justify-content: center;
        width: auto;
    }
    .field-input {
        margin: 0 0 7px 0;
        padding: 10px;
        width: 300px;
    }
    .field-name {
        margin: 0 0 3px 0;
        padding: 10px;
        width: 300px;
    }
}
@media screen and (max-height: 500px) {
    .menu {
        flex-direction: row;
        width: 450px;
        left: -450px;
    }
    .mob-menu {
        left: 450px;
    }
}
